                @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@100..900&display=swap');
                /* isso aqui é o link de importação da fonte padrão do site */

                /* estilização geral */
                *{
                    font-family: "Lexend Deca", sans-serif;
                }

                body{
                    /* background: linear-gradient(180deg, #FFF3E0, #f5e0c0, #f7d29c); */
                    background: white;
                    margin: 0;
                    min-height:     vh;
                }


                header{
                    background: orange;
                }

                @media(min-width:1025px){   
                    
                    header{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 80px;
                    }


                    .back {
                        transform: rotate(180deg);
                        color: white;
                        position: absolute;
                        left: 4%;
                        font-size: 200%;
                    }

                    header h3{
                        margin: 0;
                        font-size: 200%;
                        color: white;
                    }

                    .icon-user {
                        color: white;
                        position: absolute;
                        right: 4%;
                        font-size: 200%;
                    }

                    .geral{
                        margin: 0 20% 0 20%;
                    }
        
                    .align-card{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        height: 90%;
                        margin: 0;
                    }

                    .card{
                        display: flex;
                        justify-content: center;
                        width: 95%;
                        margin: 3% 0 3% 0;
                        border-radius: 20px;
                        box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.336);
                    }

                    .item{
                    min-width: 100%; /* cada imagem ocupa 1 tela */
                        height: 250px; /* altura fixa (ajuste se quiser) */
                        object-fit: contain; /* NÃO corta a imagem */
                        scroll-snap-align: start;
                        border-radius: 10px;
                    }

                    .produtos{
                        display: flex;
                        overflow-x: auto;
                        scroll-snap-type: x mandatory;
                        padding: 10px;
                                        
                    }

                    .situation{
                        display: flex;
                        align-items: center;
                        gap: 0.5%;
                        margin-bottom: 1%;
                    }

                    .situation h5{
                        margin: 0;
                        font-size: 130%;
                    }

                    .situation i{
                        color: green;
                        font-size: 190%;
                        margin-left: 2%;
                    }

                    .title{
                        margin: 5% 5% 0% 0%;
                    }

                    .title h3{
                        text-align: start;
                        font-size: 190%;
                        margin-left: 2%;
                    }

                    .title h5{
                        font-size: 190%;
                        color: green;
                        text-decoration: double;
                    }

                    .color span{
                        font-weight: 600;
                    }

                    .color{
                        font-size: 190%;
                        font-weight: 300;
                        margin: 0 2% 0 2%;
                    }

                    .descricao span{
                        font-weight: 600;
                    }

                    .descricao{
                        font-size: 190%;
                        font-weight: 300;
                        margin: 2% 2% 0 2%;
                    }
                    
                    .text-descricao{
                        margin: 0 2% 0 2%;
                        font-weight: 300;   
                        font-size: 190%;
                        text-align: justify;
                    }

                    .info-contato h3{
                        text-align: center;
                        font-size: 250%;
                        margin: 0% 2% 3% 2%;
                    }

                    .info-contato h2{
                        color: orange;
                        margin: 5% 2% 0 2%;
                        text-align: center;
                        font-size: 350%;
                    }

                    #i-contato{
                        font-size: 300%;
                        color: white;
                        text-align: center  ;
                    }

                    .contatos{
                        margin-bottom: 5%;
                        gap: 5%;
                        display: flex;
                        justify-content: center;
                    }

                    .btn-ctt{
                        padding: 28px 35px;
                        background: orange;
                        border-radius: 10px;
                        border: none;
                        margin: 0 0 15% 0;
                        transition: 600ms;
                    }

                    .btn-ctt:hover{
                        transform: scale(1.05);
                        transition: 600ms;
                        background: rgb(240, 204, 137);
                    }

                    footer h6{
                        background: orange;
                        color: white;
                        font-size: 180%;
                        text-align: center;
                        margin: 3% 0 2% 0;
                    }

                    .rodapé {
                        width: 100%;
                        height: 200px;
                        background-color: orange; /* ou a cor que quiser */
                        padding: 20px 0;
                    }
                }

                @media (min-width: 769px) and (max-width: 1024px) {
                        
                    header{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 90px;
                    }
                    

                    .back {
                        transform: rotate(180deg);
                        color: white;
                        position: absolute;
                        left: 4%;
                        font-size: 170%;
                    }

                    header h3{
                        margin: 0;
                        font-size: 180%;
                        color: white;
                    }

                    .icon-user {
                        color: white;
                        position: absolute;
                        right: 4%;
                        font-size: 170%;
                    }

                    .geral{
                        margin: 0 7% 0 7%;
                    }

                    .card{
                        margin: 3% 0 7% 0;
                        border-radius: 20px;
                        box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.336);
                    }

                    .item{
                    min-width: 100%; /* cada imagem ocupa 1 tela */
                        height: 250px; /* altura fixa (ajuste se quiser) */
                        object-fit: contain; /* NÃO corta a imagem */
                        scroll-snap-align: start;
                        border-radius: 10px;
                    }

                    .produtos{
                        display: flex;
                        overflow-x: auto;
                        scroll-snap-type: x mandatory;
                        padding: 10px;
                                        
                    }
                    .situation{
                        display: flex;
                        align-items: center;
                        gap: 1%;
                        margin-bottom: 2%;
                    }

                    .situation h5{
                        margin: 0;
                        font-size: 130%;
                    }

                    .situation i{
                        color: green;
                        font-size: 105%;
                    }

                    .title{
                        margin: 10% 2% 3% 2%;
                    }

                    .title h3{
                        text-align: start;
                        font-size: 120%;
                    }

                    .title h5{
                        color: green;
                        text-decoration: double;
                    }

                    .color span{
                        font-weight: 600;
                    }

                    .color{
                        font-size: 120%;
                        font-weight: 300;
                        margin: 0 2% 0 2%;
                    }

                    .descricao span{
                        font-weight: 600;
                    }

                    .descricao{
                        font-size: 120%;
                        font-weight: 300;
                        margin: 2% 2% 0 2%;
                    }
                    
                    .text-descricao{
                        margin: 0 2% 0 2%;
                        font-weight: 300;   
                        font-size: 110%;
                        text-align: justify;
                    }

                    .info-contato h3{
                        text-align: center;
                        font-size: 110%;
                        margin: 2% 2% 3% 2%;
                    }

                    .info-contato h2{
                        color: orange;
                        margin: 5% 2% 0 2%;
                        text-align: center;
                        font-size: 180%;
                    }

                    #i-contato{
                        font-size: 250%;
                        color: white;
                        text-align: center  ;
                    }

                    .contatos{
                        margin-bottom: 5%;
                        gap: 5%;
                        display: flex;
                        justify-content: center;
                    }

                    .btn-ctt{
                        padding: 10px 15px;
                        background: orange;
                        border-radius: 10px;
                        border: none;
                        margin: 0 0 15% 0;
                        transition: 600ms;
                    }

                    .btn-ctt:hover{
                        transform: scale(1.05);
                        transition: 600ms;
                        background: rgb(240, 204, 137);
                    }

                    hr{
                        margin: 0
                    }

                    footer h6{
                        background: orange;
                        color: white;
                        font-size: 120;
                        text-align: center;
                        margin: 5% 0 5% 0;
                    }

                    .rodapé {
                        width: 100%;
                        background-color: orange; /* ou a cor que quiser */
                        padding: 5px 0;
                    }
                }

                @media (max-width: 768px){
                    
                    header{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 75px;
                    }
                    

                    .back {
                        transform: rotate(180deg);
                        color: white;
                        position: absolute;
                        left: 4%;
                        font-size: 140%;
                    }

                    header h3{
                        margin:  0 0 0 0;
                        font-size: 130%;
                        color: white;
                    }

                    .icon-user {
                        color: white;
                        position: absolute;
                        right: 4%;
                        font-size: 120%;
                    }

                    .geral{
                        margin: 0 5% 0 5%;
                    }

                    .card{
                        margin: 3% 0 7% 0;
                        border-radius: 20px;
                        box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.336);
                    }

                    .item{
                    min-width: 100%; /* cada imagem ocupa 1 tela */
                        height: 250px; /* altura fixa (ajuste se quiser) */
                        object-fit: contain; /* NÃO corta a imagem */
                        scroll-snap-align: start;
                        border-radius: 10px;
                    }

                    .produtos{
                        display: flex;
                        overflow-x: auto;
                        scroll-snap-type: x mandatory;
                        padding: 10px;
                                        
                    }

                    .produtos{
                        margin: 10% 3% 10% 3%;
                        display: flex;
                        justify-content: center;
                    }

                    .situation{
                        display: flex;
                        align-items: center;
                        gap: 1%;
                        margin-bottom: 2%;
                    }

                    .situation h5{
                        margin: 0;
                        font-size: 100%;
                    }

                    .situation i{
                        color: green;
                        font-size: 90%;
                        margin-top: 0.5%;
                    }

                    .title{
                        margin: 10% 2% 3% 2%;
                    }

                    .title h3{
                        text-align: start;
                        font-size: 100%;
                        margin: 0;
                    }

                    .title h5{
                        color: green;
                        text-decoration: double;
                    }

                    .color span{
                        font-weight: 600;
                    }

                    .color{
                        font-size: 100%;
                        font-weight: 300;
                        margin: 0 2% 0 2%;
                    }

                    .descricao span{
                        font-weight: 600;
                    }

                    .descricao{
                        font-size: 100%;
                        font-weight: 300;
                        margin: 2% 2% 0 2%;
                    }
                    
                    .text-descricao{
                        margin: 0 2% 0 2%;
                        font-weight: 300;   
                        font-size: 95%;
                        text-align: justify;
                    }

                    .info-contato h3{
                        text-align: center;
                        font-size: 95%;
                        margin: 2% 2% 3% 2%;
                    }

                    .info-contato h2{
                        color: orange;
                        margin: 5% 2% 0 2%;
                        text-align: center;
                        font-size: 150%;
                    }

                    #i-contato{
                        font-size: 150%;
                        color: white;
                        text-align: center  ;
                    }

                    .contatos{
                        margin-bottom: 5%;
                        gap: 3%;
                        display: flex;
                        justify-content: center;
                    }

                    .btn-ctt{
                        padding: 8px 15px;
                        background: orange;
                        border-radius: 10px;
                        border: none;
                        margin: 0 0 15% 0;
                        transition: 600ms;
                    }

                    .btn-ctt:hover{
                        transform: scale(1.05);
                        transition: 600ms;
                        background: rgb(240, 204, 137);
                    }

                    hr{
                        margin: 0
                    }

                    footer h6{
                        background: orange;
                        color: white;
                        text-align: center;
                        margin: 5% 0 5% 0;
                    }

                    .rodapé {
                        width: 100%;
                        background-color: orange; /* ou a cor que quiser */
                        padding: 5px 0;
                    }
                }